<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>

    <div class="row">
        <p><%= user.userName%></p>
    </div>

    <img src="/images/profilePictures/<%=image.imageID%>">

    <form action="/users/<%=user.userID%>/picture" method="post" enctype="multipart/form-data">
        <input type="file" name="picture" id="picture">
        <button>Upload</button>
    </form>

</body>
</html>
