<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <form action="/events?location=" method="get" id="search-form">
        <input type="range" min="1" max="300" value="50" name="search-radius" id="radius">
        <div id="radius-buttons">
            <input type="radio" name="miles" id="radius-miles">
            <label for="miles">Miles</label>

            <input type="radio" name="km" id="radius-km">
            <label for="km">Kilometers</label>
        </div>
        <label for="search">Search:</label>
        <input type="search" name="search" id="search-bar" value="Enter keyword or address...">
        <button type="submit">Search</button>
    </form>
    <h1>Results</h1>
    <div class="event-container">
        <% for (const event of events) { %>
            <div class="event-card">
                <h2><%= event.eventName %></h2>
                <p><%= event.eventDescription %></p>
                <p><%= event.eventLocation %></p>
                <p><%= event.eventDate %></p>
            </div>
        <% } %>
    </div>
</body>
</html>